body {
    background-color: #38393C;
}

.navbar-custom { 
    background-color: rgb(0, 0, 0);
    height: 54px;
    padding: 0px;
}
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
    color: #EBDA81;
    font-family: 'Share', cursive;
}

.bgFoto{
    position: relative;
    width: 1833px;
    height: 378px;
    left: -314px;
    border-bottom: 7px solid rgba(128, 128, 128, 0.63);
}

.kopi {
    background: url(coffee_cup_drink_137884_1920x1080.jpg);
    background-position: 30%;
}

.csgo{
    background: url(csgo.jpg);
    background-position: 65%;
}

.sekolah{
    background: url(unnamed.jpg);
}

.ngoding{
    background: url(ngoding.jfif);
    background-position: 90%;
}

.sushi{
    background: url(sushi1.jpg);
    background-position: 50%;
    width: 1850px;
}

.java{
    position: absolute;
    right: 90px;
    top: 680px;
}

.java img{
    width: 150px;
    height: 150px;
}

.python{
    position: absolute;
    right: 380px;
    top: 680px;
}

.python img{
    width: 150px;
    height: 150px;
}

.html{
    position: absolute;
    right: 235px;
    top: 850px;
}

.html img{
    width: 150px;
    height: 150px;
}

.foto1 {
    position: absolute;
    right: 0px;
    top: 342px;
    right: 42px;
}

.foto1 img {
    width: 200px;
    height: 180px;
}

.foto2 {
    position: absolute;
    right: 342px;
    top: 342px;
}

.foto2 img {
    width: 200px;
    height: 180px;
}

.hexagon {
    position: absolute;
    right: 192px;
    top: 433px;
}

.hexagon img {
    width: 200px;
    height: 180px;
}

.ui{
    position: absolute;
    top: 700px;
    right: 190px;
}

.ui img {
    width: 200px;
    height: 200px;
}

.paragraf{
    line-height: 10px;
}

.kuning{
    color: #EBDA81;
}

.putih{
    color: white;
}



.share{
    font-family: 'Share', cursive;
}

.oxygen{
    font-family: 'Oxygen', sans-serif;
}

.ukur{
    font-size: larger;
}

.box{
    background-color: #707070;
    border-radius: 23px;
}

.top{
    background-color: #707070;
    border-radius: 23px 23px 0px 0px;
}

.mid{
    background-color: #707070;
}

.bot{
    background-color: #707070;
    border-radius: 0px 0px 23px 23px;
}

.tengah{
    text-align: center;
}

.kanan{
    text-align: right;
}

.atur1{
    left: 90px;
    top: 140px;
}

.atur2{
    right: 35px;
    top: 45px;
}

.atur3{
    right: 35px;
    top: 140px;
}

.atur4{
    margin-top: 200px;
    margin-left: 100px;
}

.atur5{
    top: 100px;
    left: 70px;
}

.atur6{
    top: 120px;
    left: 100px;
}

.atur7{
    top: 140px;
    left: 130px;
}

.atur8{
    top: 160px;
    left: 160px;
}

.atur9{
    top: 180px;
    left: 190px;
}

.atur10{
    top: 80px;
    left: 100px;
}

.atur11{
    top: 80px;
    left: 100px;
}

.atur12{
    top: 120px;
    left: 100px;
}

.atur13{
    top: 120px;
    left: 100px;
}

.atur14{
    left: 110px;
    top: 30px;
}

.icon1{
    width: 42px;
    height: 42px;
    margin-right: 50px;
}

.csblur{
    background-position: 30%;
}

.spotblur{
    background-position: 40%;
}

.vidblur{
    background-position: 40%;
}

.tombol{
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
}



